#profile_image{
    height: 180px;
    width: 180px;
    border-radius: 170px;
    /* padding-left: 100px;
    padding-top: 30px  */
    margin-left: 260px;
    margin-top: 60px;
}
.top{
    display: flex;
    height: 200px;
}
.top p{
    align-items: center;
    padding-top: 100px; 
    padding-left: 100px; 
    font-style: italic;
    color:blanchedalmond;
    font-size:23px;
}
#bg1{
    height: 1000px;
    width: 1000px;
}
body{
    background-image: url("bg2.jpg" );
    background-repeat: no-repeat;
    background-size: cover;
}
.icons{
    display: flex;
    height: 30px;
    width: 30px;
    position: relative;
    left: 650px;
    top: 90px;
}
 .box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;;
    
 }
 
 .box img
 {
    height: 100px;
    width: 100px;
    border-radius: 3px;
    align-items: center;
    margin-left: 50px;
    margin-top: 30px;
    transition: all 0.4s;
 }
 
.box img:hover{
    transform: translateY(-6px);
}
.box button:hover{
    background-color: rgb(124, 140, 141);
}
 .box button{
   margin-left: 50px;
   border-radius: 10px;
   background-color:rgb(252, 252, 252);
 }
 